.main-bg {
    background-image: url('../img/scattered-forcefields.png');
    background-size: cover;
    background-position: center center;
    color: var(--white);
}

.white-bg {
    background-image: url('../img/scattered-forcefields-white.png');
    background-size: cover;
    background-position: center center;
    color: var(--black);
}

.content {
    padding-top: 5rem;
}

.main-content {
    width: 120rem;
    min-height: 100vh;
    margin: 0 auto;
    padding: var(--gap);
}

body .full-width {
    width: 100%;
    flex: 1 1 100%;
}

