@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:ital,wght@0,400;0,500;0,700;1,400&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,700;1,900&display=swap');

:root {
    --primary-color: #000000;
    --white: #FFFFFF;
    --black: #000000;
    --grey: #EEEEEE;
    --gap: 2.5rem;
}

.intro-content {
    display: grid;
    grid-template-columns: 1.2fr 1.8fr;
    align-items: stretch;
    gap: var(--gap);
    font-weight: bold;
}

.intro-text, .intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-text h2 {
    font-size: 6rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
    line-height: 1;
}

.intro-img img {
    max-width: 100%;
    height: auto;
}

.content.white-bg .top3-text {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    padding-top: 20rem;
}

.content.white-bg .top3-text p {
    max-width: 70rem;
    line-height: 4rem;
}

.grid-jobs {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.grid-jobs span {
    padding-bottom: 14rem;
}

.grid-jobs .col-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid-jobs .recent-jobs {
    padding-bottom: 8rem;
}

.grid-jobs .col-grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 7rem;
    padding-bottom: 2rem;
}

.grid-jobs .col-grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: -0.5rem;
    transform: rotate(5deg);
}

.gallery {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.gallery .col-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
}

.gallery .img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery .img img {
    transition: all 300ms ease-in-out;
}

.gallery .img img:hover {
    transform: translate(-3%, 3%) scale(1.1) rotate(1deg);
    
}

.gallery span {
    padding-bottom: 6rem;
}

.content.white-bg .pricing-text {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    padding-top: 20rem;
    max-width: 70rem;
}

.contact-form {
    grid-column: span 2;
}

.contact-form .form-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: none;
    gap: var(--gap);
}

.form-grid legend {
    font-style: italic;
    font-size: 1.8rem;
    margin-bottom: 3rem;
}

.form-group {
    flex: 1 1 40rem;
}

.form-group label {
    display: block;
    margin-bottom: 1rem;
}

.form-group input, 
.form-group textarea {
    font-size: 3rem;
    border: none;
    background: var(--white);
    padding: 1.5rem 2rem;
    width: 100%;
    border-radius: 0.8rem;
}

.form-group button {
    border: 0.5rem solid var(--white);
    color: var(--white);
    background: none;
    padding: 1.5rem 3rem;
    font-size: 3rem;
    cursor: pointer;
    border-radius: 0.6rem;
    transition: all 300ms ease-in-out;
}

.form-group button:hover {
    border: 0.5rem solid var(--primary-color);
    background: var(--white);
    color: var(--primary-color)
}

.form-group ::placeholder {
    color: lightgrey
}

.footer {
    text-align: center;
    font-style: italic;
    font-size: 1.6rem;
    color: darkgray;
    margin-top: 5rem;
}

#close-menu {
    display: none;
}

@media (max-width: 74rem) {
    .intro-content {
        grid-template-columns: 1fr;
    }

    .grid-jobs .col-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .gallery .col-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .menu {
        bottom: 0;
        text-align: center;
    }

    .menu {
        bottom: 0;
        text-align: center;
    }

    .menu-content, .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }

    .menu {
        display: none;
    }

    .close-menu {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
    }

    .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 1rem;
        right: 1rem;
        font-size: 4rem;
        line-height: 4rem;
        background-color: var(--primary-color);
        color: var(--grey);
        padding: 0.2rem;
        font-weight: bold;
        cursor: pointer;
    }

    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        content: '×';
        color: var(--white);
    }
}





