@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --nk-color:  rgb(14, 13, 13);
}

#container {
    font-family: 'Open sans', sans-serif;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

#h1 {
    font-family: 'Open sans', sans-serif;
    font-weight: 100;
}

#stocksList {
    width: 60%;
    height: 50%;
    font-family: 'Open sans', sans-serif;
    font-size: 180%;
    font-weight: 400;
    color: aliceblue;
    background-color: var(--nk-color);
    text-align: center;
    border-style: dashed;
    border-radius: 15px;
}

#myChart {
    max-height: 110%;
}

#select {
    font-family: 'Open sans', sans-serif;
    font-size: 150%;
    font-weight: 300;
    font-style: italic;
    margin-left: 18%;
}

#logo {
    width: 22%;
    border-radius: 10px;
    border-style: ridge;
    border-color: rgb(206, 201, 201);
    margin-left: 6%;
}

#graham {
    font-family: 'Open sans', sans-serif;
    font-size: 145%;
    border-radius: 10px;
    border-style: dashed;
    width: 65%;
    height: 70px;
    color: rgb(226, 217, 217);
    background-color: var(--nk-color);
    padding-left:  15px;
}

#teto {
    font-family: 'Open sans', sans-serif;
    font-size: 145%;
    border-radius: 10px;
    border-style: dashed;
    width: 65%;
    height: 70px;
    color: rgb(233, 227, 227);
    background-color: var(--nk-color);
    padding-left:  15px;
}

#tituloGraham {
    font-family: 'Open sans', sans-serif;
    font-size: 96%;
    font-weight: 400;
    text-align: center;
}

#tituloTeto {
    font-family: 'Open sans', sans-serif;
    font-size: 96%;
    font-weight: 400;
    text-align: center;
}

#search {
    width: 20%;
    height: 35%;
    font-size: large;
    font-family: 'Open sans', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin-top: 3%;
    margin-left: 19%;
    border-radius: 10px;
}

#search:hover {
    background: rgb(2, 89, 129);
    color: whitesmoke;
}

#search:active {
    background: rgb(163, 192, 206);
    color: rgb(0, 0, 0);
}

#typeGraphic {
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    font-size: large;
    margin-left: 90%;
}

#selectGraphic {
    font-family: 'Open sans', sans-serif;
    font-size: large;
    font-weight: 300;
    width: 110%;
    height: 70%;
    border-radius: 10px;
    border-style: dashed;
    color: rgb(233, 227, 227);
    background-color: var(--nk-color);
}


.campos {
    width: 60%;
    height: 10%;
    border-radius: 10px;
    border-style: dashed;
    margin-bottom: 10%;
    color: rgb(233, 227, 227);
    font-size: 150%;
    font-family: 'Open sans', sans-serif;
    padding: 0 16px;
    background-color: var(--nk-color);
}

.titulos {
    font-size: larger;
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    color: rgb(223, 216, 216);
}